
.home-card-li-1 {
  font-weight: 500;
  font-size: 17px;
  padding-top: 5px;
  padding-left: 2px;
}

.home-card-li-2 {
  color: gray;
  font-size: 15px;
  padding-top: 5px;
  padding-left: 2px;
}

.home-card-li-3 {
  font-size: 16px;
  font-weight: 500;
  padding-top: 5px;
  padding-left: 2px;
}
