/* https://www.youtube.com/watch?v=rnhoY5Cdmy0 */

.list-individual {
  display: flex;
  flex-direction: column;
  margin: 0px 100px 0px 100px;
}

.listing-title {
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-size: 30px;
  padding: 16px;
  font-weight: 700;
}

.listing-details {
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-size: 1em;
  padding: 0px 16px 16px 16px;
  font-weight: 500;
  font-size: 18px;
}

.listing-image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  /* border: 1px solid black; */
}

.listing-image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}

.listing-description-reserve {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  /* border: 1px solid black; */
  padding: 16px;
}

.listing-desc {
  width: 50%;
  /* border: 1px solid black; */
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.listing-desc-1 {
  padding-bottom: 50px;
  font-size: 22px;
  font-weight: 600;
}

.listing-desc-2 {
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 18px;
}

.listing-desc-3 {
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.listing-desc-4 {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
}

.listing-desc-567 {
  display: grid;
  grid-template-columns: auto auto;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  height: 15%;
}

.listing-desc-567 > * {
  padding-bottom: 5px;
  font-size: 18px;
  /* border: 1px solid black; */
  /* height: 50%; */
}

.listing-review-index-container {
  border: 1px solid black;
  height: 200px;
}

.listing-reserve {
  width: 50%;
  border: 1px solid black;
}

.listing-map {
  box-sizing: border-box;
  /* border: 1px solid black; */
  padding: 16px;
}

.form-submit {
  cursor: pointer;
}

.solid-line {
  border-bottom: 1px;
  border-bottom-style: solid;
  height: 0px;
  color: lightgray;
  margin-top: 10px;
  margin-bottom: 15px;
}
