.reservation-form {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 500px;
  justify-content: space-around;
  margin: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid lightgrey;
  border-radius: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  position: sticky;
  top: 120px;
}

.reservation-form > * {
  padding-left: 20px;
}

.form-night-price {
  font-size: 20px;
  font-weight: 500;
}

.form-input {
  border: 1px solid lightgrey;
  margin-left: 20px;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.form-input-date {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* padding-right: 60px; */
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.form-input-date > * {
  width: 47%;
}

.form-checkin {
  border-right: 1px solid lightgray;
  margin-right: 20px;
}

.date-input {
  border: 0px solid black;
  padding-top: 10px;
  height: 20px;
}

.form-num-guest {
  padding-top: 20px;
}

.num-guests {
  padding-top: 10px;
  border: none;
  outline: none;
  width: 100px;
}

.form-night-total {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.form-service-fee {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.form-total-cost {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dd3333;
  background-color: #dd3333;
  border-radius: 15px;
  margin-right: 40px;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}
