
/*
Start my code
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.clickable {
  cursor: pointer;
  width: 100%;
  height: 100%;
}


/* nav container */
.nav-container {
  padding-left: 40px;
  padding-right: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  background-color: white;
  top: 0px;
  z-index: 2;
}

.nav-container > * {
  margin-left: 10px;
  margin-right: 10px;

}

/* left hand side logo and text */
.logo-nav {
  display: flex;
  align-items: center;
  letter-spacing: -.7px;
  text-decoration: none;
  color: #dd3333;
  height: 60px;
  width: 120px;
}

.logo-nav > * {
  margin: 5px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.logo-text {
  font-weight: 700;
  font-size: 25px;
  display: flex;
  height: 80px;
  align-items: center;
}

/* mid about */
.nav-about {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.nav-about > a {
  text-decoration: none;
  color: #dd3333;
}

.linkedin-img {
  width: 40px;
  height: 40px;
}


/* right hand side drop down */
/* The container <div> - needed to position the dropdown content */
.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #DDDDDD;
  border-radius: 30px;
  width: 100px;
  height: 50px;
}

.dropdown-button:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-button > * {
  margin: 5px;
  cursor: pointer;
}

.dropdown-profile {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  height: 200px;
  width: 250px;
  right: 2%;
  z-index: 2;
}

.profile-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* .dropdown-profile {
  position: relative;
} */

.dropdown-profile > * > * {
  /* margin: 5px; */
  text-align: left;
  text-decoration: none;
  display: block;
  padding: 20px;
  border: 1px #ddd;
}



.signupFormModalButton, .loginFormModalButton, .dropdown-profile > * {
  font-size: 16px;
}

.dropdown-profile li:hover {
  background-color: #ddd;
  display: block;
}

.cursor {
  cursor: pointer;
}

/* display, position,  */
