/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
Start my code
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.clickable {
  cursor: pointer;
}


/* nav container */
.nav-container {
  padding-left: 40px;
  padding-right: 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0px;
  border-bottom: 1px solid #ddd;
  position: sticky;
  background-color: white;
  top: 0px;
  z-index: 2;
}

.nav-container > * {
  margin: 5px;
}

/* left hand side logo and text */
/* left hand side logo and text */
/* left hand side logo and text */
.logo-nav {
  display: flex;
  align-items: center;
  letter-spacing: -.7px;
  text-decoration: none;
  color: #dd3333;
  height: 60px;
  width: 120px;
}

.logo-nav > * {
  margin: 5px;
}

.logo-img {
  width: 40px;
  height: 40px;
  /* height: 60%; */
  /* padding-right: 8px; */
}

.logo-text {
  font-weight: 700;
  font-size: 25px;
  display: flex;
  height: 80px;
  align-items: center;
}

/* mid search */
/* mid search */
/* mid search */
.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ddd;
  height: 50px;
  width: 380px;
  border-radius: 30px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}

.search > * {
  margin: 5px;
}

.search > div + div {
  /* margin-left: 10px; */
  padding-left: 15px;
  border-left: 1px solid #bbb;
}

/* right hand side drop down */
/* right hand side drop down */
/* right hand side drop down */
/* The container <div> - needed to position the dropdown content */
.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #DDDDDD;
  border-radius: 30px;
  width: 100px;
  height: 50px;
}

.dropdown-button:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-button > * {
  margin: 5px;
  cursor: pointer;
}

.dropdown-profile {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  height: 200px;
  width: 250px;
  right: 2%;
  z-index: 2;
}

.profile-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* .dropdown-profile {
  position: relative;
} */

.dropdown-profile > * {
  /* margin: 5px; */
  text-align: left;
  text-decoration: none;
  display: block;
  padding: 20px;
  border: 1px #ddd;
}

.signupFormModalButton, .loginFormModalButton, .dropdown-profile > * {
  font-size: 16px;
}

.dropdown-profile li:hover {
  background-color: #ddd;
  display: block;
}

/* display, position,  */
